{% extends 'static/html/base.html'%}
{% load static %}

{% block content%}
        <h1>Animes que você pode gostar!</h1>
        <div class="anime-grid">
            {% if animes_random %}
                {% for anime in animes_random %}
                    <a href="#" class="anime-card"> <!-- Link para a página de detalhes do anime -->
                        {% if anime.images_jpg %}
                            <img src="{{ anime.images_jpg }}" alt="Imagem do anime">
                        {% endif %}
                        <h3>{{ anime.title }}</h3>
                        <p>Gêneros: {{ anime.genres }}</p>
                    </a>
                {% endfor %}
            {% endif %}
        </div>


{% endblock%}