<!DOCTYPE html>
<html>
<head>
    <title>Anime Recommender</title>
    <style>
        body {
            background-color: #add8e6; /* pastel blue */
            font-family: Arial, sans-serif;
        }
        .chat-container {
            background-color: #ffffff; /* white */
            margin: auto;
            width: 50%;
            border: 3px solid #73AD21;
            padding: 10px;
        }
        form {
            display: flex;
            flex-direction: column;
        }
        input, button {
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <div class="chat-container">
        <form method="post">
            <h1>{{ message }}</h1>
            {% csrf_token %}
            <input type="text" id="genre" name="genre" required>
            <button type="submit">Enviar</button>
        </form>
        {% if animes %}
        <h2>Animes Recomendados:</h2>
        <ul>
            {% for anime in animes %}
            <li>
                {% if anime.images_jpg %}
                <img src="{{ anime.images_jpg }}" alt="Imagem do anime">
                {% endif %}
                {{ anime.title }}
                Gêneros: {{ anime.genres }}
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</body>
</html>